Host bastion
    User                    ubuntu
    HostName                HOST_NAME
    ProxyCommand            none
    IdentityFile           ~/.ssh/id_rsa
    BatchMode               yes
    PasswordAuthentication  no
    StrictHostKeyChecking   no

Host *
    ServerAliveInterval     60
    TCPKeepAlive            yes
    ProxyCommand            ssh -q -A ubuntu@HOST_NAME nc %h %p
    ControlMaster           auto
    ControlPath             ~/.ssh/mux-%r@%h:%p
    ControlPersist          8h
    User                    ubuntu
    IdentityFile            ~/.ssh/id_rsa
