# {{ ansible_managed }}

# Config for {{ site }}

frontend {{ site }}
    bind *:{{ item.frontend.port|default(80, true) }}
    mode {{ item.frontend.mode|default('http', true) }}

    acl host_{{ site }} hdr(host) -i {% for domain in item.frontend.domains %}{{ domain }} {% endfor %}
    use_backend {{ site }}_cluster if host_{{ site }}

backend {{ site }}_cluster
{% for server in item.backend.servers %}
    server {{ server.id }} {{ server.address }}:{{ server.port|default(80, true) }}
{% endfor %}
