# {{ ansible_managed }}

global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option forwardfor
    option http-server-close
    timeout connect 5000
    timeout client  50000
    timeout server  50000

# HAProxy instance peers
peers balancer-peers
{% for balancer in groups['balancers'] %}
    peer {{ balancer }} {{ hostvars[balancer].ansible_host }}:1024
{% endfor %}

# Application routing
listen http
    bind {{ balancer.floating_ip }}:{{ http.port }}
    balance leastconn
    option redispatch
{% for server in groups['webservers'] %}
    server {{ server }} {{ hostvars[server].ansible_host }}:80 check
{% endfor %}

# Database routing
listen db
    bind {{ balancer.floating_ip }}:{{ bedrock.server_port }}
    mode tcp
    balance leastconn
    stick-table type ip size 255 expire 30m peers balancer-peers

{% for server in groups['nodes'] %}
    server {{ server }} {{ hostvars[server].ansible_host }}:8888 check
{% endfor %}
