# {{ ansible_managed }}

<VirtualHost *:8080>
    ServerAdmin admin@{{ item.value.domain }}
    ServerName {{ item.value.domain }}
    DocumentRoot {{ item.value.docroot }}

    <Directory {{ item.value.docroot }}>
        AllowOverride All
    </Directory>
</VirtualHost>
