table#seo-injector-results {
	border-collapse:collapse;
}

table#seo-injector-results thead {
	background:#faf;
}

table#seo-injector-results th,
table#seo-injector-results td {
	border: 1px solid black;
	padding: 2px 4px;
}
