# {{ ansible_managed }}

User  "root"
Group "root"

LogLevel 1

Alive 30

Control "/var/run/pound/poundctl.socket"

ListenHTTP
  Address 127.0.0.1
  Port  9999

  Service
    BackEnd
      Address localhost
      Port 8888
    End
    Emergency
      Address haproxy_master
      Port 8888
    End
  End
End
