# {{ ansible_managed }}

User  "{{ pound.user }}"
Group "{{ pound.group }}"

LogLevel 1

Alive 30

Control "/var/run/pound/poundctl.socket"

ListenHTTP
  Address {{ pound.listen.address }}
  Port {{ pound.listen.port }}

  Service
    BackEnd
      Address {{ pound.backend.address }}
      Port {{ pound.backend.port }}
    End
    Emergency
      Address {{ balancer.floating_ip }}
      Port {{ balancer.frontend.port }}
    End
  End
End
