# {{ ansible_managed }}

stream {
    upstream bedrock {
        server localhost:8888;
        server {{ balancer.floating_ip }}:{{ bedrock.port }} backup;
    }

    server {
        listen 9999;
        proxy_pass bedrock;
    }
}
