# {{ ansible_managed }}

stream {
    upstream bedrock {
        server localhost:{{ bedrock.server_port }};
        server {{ balancer.floating_ip }}:{{ bedrock.server_port }} backup;
    }

    server {
        listen 9999;
        proxy_pass bedrock;
    }
}
