Host bastion
    HostName                HOST_NAME
    User                    ubuntu
    IdentityFile            ~/.ssh/id_rsa
    BatchMode               yes
    PasswordAuthentication  no
    StrictHostKeyChecking   no

Host 10.10.*
    ProxyCommand            ssh -F ./sample.cfg bastion nc %h %p
    User                    ubuntu
    IdentityFile            ~/.ssh/id_rsa
    ServerAliveInterval     60
    TCPKeepAlive            yes
