Host bastion
    User                    ubuntu
    HostName                BASTION_HOST
    ProxyCommand            none
    IdentityFile            ../terraform/ssh/wordpress-key
    BatchMode               yes
    PasswordAuthentication  no
    StrictHostKeyChecking   no

Host *
    ServerAliveInterval     60
    TCPKeepAlive            yes
    ProxyCommand            ssh -q -A ubuntu@BASTION_HOST nc %h %p
    User                    ubuntu

# TODO: symlink IdentityFile
