{
    "url": "{{ nodebb.url }}",
    "secret": "{{ nodebb.secret }}",
    "database": "{{ nodebb.database }}",
    "port": {{ nodebb.port }},
    "mongo": {
        "host": "{{ nodebb.mongo.host }}",
        "port": "{{ nodebb.mongo.port }}",
        "username": "{{ nodebb.mongo.username }}",
        "password": "{{ nodebb.mongo.password }}",
        "database": "{{ nodebb.mongo.database }}"
    }
}
