global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option  forwardfor
        option  http-server-close
        timeout connect 5000
        timeout client  50000
        timeout server  50000


frontend www_frontend
        bind *:80

        acl host_shop hdr(host) -i shop.example.com
        acl host_blog hdr(host) -i blog.example.com

        use_backend shop if host_shop
        use_backend blog if host_blog


backend shop
        http-request set-header X-Client-IP %[src]
        server shop1 shop.local:80 check

backend blog
        http-request set-header X-Client-IP %[src]
        server blog1 blog.local:80 check

listen admin
        bind 127.0.0.1:8080
        stats enable
